.cabecalho{
    background-color: #ffffff;
    padding: 0 0;
    margin: 0;
}

.imagem-cabecalho{
    width: 10%;
	position: absolute;
	top: 0%;
	left: 0%

}

.sacola {
	position:absolute;
	left: 700;
}

.body {
    background-color: #ffffff;
	font-family: 'Poppins', sans-serif;
}


.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 29%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	
}


.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}


.Saiba {
	font-size: 20px;
	padding: 50px;
	position: relative;
    top: 10px;
	margin-left: 810px;
	text-align: left;
}

.parteleft {
	margin: 0;
	padding:0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	width: 800px;
	right: 500px;
	overflow: hidden;
	position: absolute;
	border-radius: 10px;
	margin-left: 200px ;
	align-items: right;
}

.navegacao {
	position:absolute;
	bottom: 20px;
	display: flex;
	left: 50%;
	transform: translate(-50%);
}

input {
	display: none;
}

.manualbtn {
	border: 2px solid #FFDBDB;

	padding:10px;
	border-radius: 20px;
	cursor: pointer;

}

.manualbtn:not(:last-child) {
	margin-right: 40px;
}

.manualbtn:hover {
	background: #FFDBDB;
	transition: 0.4s;
}

.slides {
	display: flex;
	width: 400%;
	height: 100%;
}

.slide {
	width: 25%;
	transition: 0.5s;

}

.slide img {
	width: 100%;
	height: 100%;

}

#radio1:checked ~ .first {
	margin-left: 0;
}

#radio2:checked ~ .first {
	margin-left: -25%;
}

#radio3:checked ~ .first {
	margin-left: -50%;
}

#radio4:checked ~ .first {
	margin-left: -75%;
}

.visual {
	display: flex;
}



.footer {
	background-color: #343A40; 
	color: white;
	padding: 5rem 0;
	}
	.copyright {
	font-size:.875em;
	text-align: center;
	}
	.social-links li{
	display: inline-block;
	margin:.5rem.25rem.5rem.25rem;
	}
	.social-links img{
	width:2.5rem; height:auto;
	}

