.cabecalho{
    background-color: #FFDBDB;
    padding: 0 0;
    margin: 0;
}

.imagem-cabecalho{
    width: 10%;
	position: absolute;
	top: 0%;
	left: 0%

}
.itemlista{
    color:darkgray;
    font-weight: bold;
    font-size: 22px;
    display: inline;
    margin: 0 0 0 200px
}

.bodecolor{
    background-color: #FFDBDB;
}

.caixapesquisa{
	position: absolute;
	left: 200px;
	top:10px;
	transform:translate(-20%, -10%);
	background:#b38888;
	height: 30px;
	padding:10px;
	border-radius:40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-txt {
	border:none;
	background:none;
	outline: none;
	padding: 0;
	color:black;
	font-size: 16px;
	line-height: 30px;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-family:'Courier New', Courier, monospace;
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}


.Saiba {
	font-size: 20px;
	padding: 50px;
	position: relative;
    left: 100px;
    top: 10px;
}

.parteleft {
	margin: 0;
	padding:0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	width: 800px;
	right: 500px;
	overflow: hidden;
	position: absolute;
	border-radius: 10px;
}

.navegacao {
	position:absolute;
	bottom: 20px;

	display: flex;
	left: 50%;
	transform: translate(-50%);
}

input {
	display: none;
}

.manualbtn {
	border: 2px solid #FFDBDB;

	padding:10px;
	border-radius: 20px;
	cursor: pointer;

}

.manualbtn:not(:last-child) {
	margin-right: 40px;
}

.manualbtn:hover {
	background: #FFDBDB;
	transition: 0.4s;
}

.slides {
	display: flex;
	width: 400%;
	height: 100%;
}

.slide {
	width: 25%;
	transition: 0.5s;

}

.slide img {
	width: 100%;
	height: 100%;

}

#radio1:checked ~ .first {
	margin-left: 0;
}

#radio2:checked ~ .first {
	margin-left: -25%;
}

#radio3:checked ~ .first {
	margin-left: -50%;
}

#radio4:checked ~ .first {
	margin-left: -75%;
}

.visual {
	display: flex;
}